.gallery-starter {
	float: left;
	clear: both;
	padding: 1.5rem 1rem 1rem;
	background-color: #191917;
	border-radius: 0.3rem;
	box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.4);
	width: 62rem;
	margin-bottom: 5rem;
}

.gallery-starter hr {
	width: 8.8rem;
	height: 0.2rem;
	margin: 0;
	padding: 0;
	border: 0;
}

.gallery-starter .related {
	display: none;
}

.gallery-starter .default-hover {
	-ms-transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	transition: all 200ms linear;
}

.gallery-starter .default-hover:hover {
	opacity: .8;
}

.gallery-starter .header .title {
	float: left;
	width: 100%;
	margin-bottom: 1.5rem;
	font-family: "OpenSans", sans-serif;
	color: #fff;
	font-size: 2.2rem;
}

.gallery-starter .header li {
	float: left;
	position: relative;
	line-height: 0;
	cursor: pointer;
}

.gallery-starter .header .active {
	opacity: .8;
}

.gallery-starter .header .active hr {
	display: block !important;
}

.gallery-starter .header li:hover hr {
	display: block;
}

.gallery-starter .header .thumbs hr {
	position: absolute;
	width: 8.8rem;
	height: 0.2rem;
	margin: 0;
	padding: 0;
	background-color: #ff7212;
	border: 0;
	bottom: 0rem;
	display: none;
}

.gallery-starter .header .info-gallery {
	float: right;
}

.gallery-starter .header .info-gallery span {
	display: block;
	margin: 5px 0;
	font-family: "OpenSans", sans-serif;
	font-style: italic;
	font-size: 1.4rem;
	color: #fff;
}

.gallery-starter .content {
	float: left;
	width: 100%;
	margin: 10px 0;
	text-align: center;
	line-height: 0;
}

.gallery-starter .content img {
	cursor: pointer;
}

.gallery-starter .footer {
	float: left;
	width: 100%;
	position: relative;
}

.gallery-starter .footer hr {
	width: 7rem;
	margin-bottom: 1rem;
	background-color: #d7d7d7;
	clear: both;
	display: block;
	text-align: left;
}

.gallery-starter .footer .description {
	width: 100%;
	float: left;
	font-family: "OpenSans", sans-serif;
	color: #fff;
	font-size: 1.4rem;
}

.gallery-starter .footer .source {
	display: block;
	margin-top: 0.5rem;
	font-size: 1.2rem;
	font-style: italic;
	color: #d7d7d7;
}

.gallery-starter .footer .source img {
	float: right;
}

.layerOpen {
	overflow: hidden;
}

.gallery-builder {
	visibility: visible;
}

.gallery-layer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100001;
	background: rgba(25, 25, 23, 0.95);
	overflow-y: auto;
}

.gallery-layer.layer-closed {
	display: none;
}

.gallery-layer .close32 {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1;
	background-image: url("//s1.trrsf.com/update-1408127999626/fe/zaz-icons/svg-sprites/subjects-menu/zaz-subjects-menu-sprite.svg");
	width: 32px;
	height: 32px;
	background-size: 108px auto;
	background-position: -72px 0;
	display: inline-block;
}

html[data-range=xsmall] .gallery-layer .close32 {
	top: 10px;
	right: 10px;
}

html[data-range=small] .gallery-layer .close32 {
	top: 10px;
	right: 10px;
}

.gallery-layer.showingAds .btn-close {
	display: none;
}

html[data-range=xsmall] .gallery-layer.showingAds .title {
	visibility: hidden;
}

html[data-range=small] .gallery-layer.showingAds .title {
	visibility: hidden;
}

html[data-range=xsmall] .gallery-layer.showingAds .gallery-container-main {
	visibility: hidden;
}

html[data-range=small] .gallery-layer.showingAds .gallery-container-main {
	visibility: hidden;
}

html[data-range=xsmall] .gallery-layer.showingAds .gallery-pub-container {
	display: block;
	margin-left: 1rem;
}

html[data-range=small] .gallery-layer.showingAds .gallery-pub-container {
	display: block;
	margin-left: 1rem;
}

.gallery-container {
	width: 30rem;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.gallery-container.gallery-closed {
	display: none;
}

html[data-range=xsmall] .gallery-container {
	width: 21.3rem;
}

html[data-range=medium] .gallery-container {
	width: 62rem;
	height: 100%;
}

html[data-range=large] .gallery-container {
	width: 97rem;
}

html[data-range=xlarge] .gallery-container {
	width: 126rem;
}

html[data-range=small] .gallery-container {
	width: 33rem;
}

.gallery-container .gallery-container-main {
	float: left;
	width: 30rem;
	margin-left: 1rem;
	margin-top: 2rem;
}

.gallery-container .gallery-container-main .title {
	float: left;
	width: 100%;
	margin-bottom: 1.5rem;
	font-family: "OpenSans", sans-serif;
	color: #fff;
	font-size: 2.2rem;
	font-weight: normal;
}

html[data-range=xsmall] .gallery-container .gallery-container-main .title {
	width: 90%;
	font-size: 1.2rem;
}

html[data-range=small] .gallery-container .gallery-container-main .title {
	width: 90%;
	font-size: 1.2rem;
}

.showingAds .gallery-container .gallery-container-main .title {
	visibility: hidden;
}

html[data-range=xsmall] .gallery-container .gallery-container-main {
	width: 21.3rem;
	margin-left: 1rem;
}

html[data-range=small] .gallery-container .gallery-container-main {
	width: 21.3rem;
	margin-left: 1rem;
}

html[data-range=medium] .gallery-container .gallery-container-main {
	width: 62rem;
}

html[data-range=large] .gallery-container .gallery-container-main {
	width: 62rem;
}

html[data-range=xlarge] .gallery-container .gallery-container-main {
	width: 93rem;
}

.gallery-container .gallery-pub-container {
	float: left;
	position: relative;
	width: 30rem;
}

html[data-range=xsmall] .gallery-container .gallery-pub-container {
	display: none;
	position: absolute;
	top: 14px;
	left: 0;
	z-index: 10;
}

html[data-range=small] .gallery-container .gallery-pub-container {
	display: none;
	position: absolute;
	top: 14px;
	left: 0;
	z-index: 10;
}

html[data-range=medium] .gallery-container .gallery-pub-container {
	height: 30rem;
	width: 100%;
}

html[data-range=large] .gallery-container .gallery-pub-container {
	height: 60.5rem;
	margin-left: 2rem;
}

html[data-range=xlarge] .gallery-container .gallery-pub-container {
	height: 82.3rem;
	margin-left: 2rem;
}

.gallery-container .gallery-pub-container .ad-root {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 15px auto;
	width: 30rem;
	height: 30rem;
}

html[data-range=medium] .gallery-container .gallery-pub-container .ad-root {
	margin: 15px auto;
}

html[data-range=large] .gallery-container .gallery-pub-container .ad-root {
	margin: auto;
}

html[data-range=xlarge] .gallery-container .gallery-pub-container .ad-root {
	margin: auto;
}

.gallery-container .gallery-pub-container .table-more-about {
	display: none;
}

html[data-range=xsmall] .gallery-container .gallery-pub-container .table-more-about {
	display: block;
}

html[data-range=small] .gallery-container .gallery-pub-container .table-more-about {
	display: block;
}

.gallery-container .gallery-pub-container .table-more-about .channel {
	color: #fff;
}

.gallery-container .gallery-pub-container .ad-top {
	height: 30rem;
}

html[data-range=xsmall] .gallery-container .gallery-pub-container .ad-top {
	height: auto;
}

html[data-range=small] .gallery-container .gallery-pub-container .ad-top {
	height: auto;
}

.gallery-container .gallery-pub-container .ad-ctn {
	height: 30rem;
	display: block;
}

.gallery-container .gallery-pub-container .advertisingLabel {
	color: #fff;
	margin: 0 0 1rem 1rem;
	font-size: 1.2rem;
}

html[data-range=xsmall] .gallery-container .gallery-pub-container .advertisingLabel {
	display: none;
}

html[data-range=medium] .gallery-container .gallery-pub-container .advertisingLabel {
	display: none;
}

html[data-range=medium] .gallery-container .gallery-pub-container .advertisingLabel {
	margin: 10px auto;
	width: 70px;
}

.embbed-gallery {
	position: relative;
	float: left;
	width: 30rem;
}

html[data-range=xsmall] .embbed-gallery {
	width: 21.3rem;
}

html[data-range=medium] .embbed-gallery {
	width: 62rem;
}

html[data-range=large] .embbed-gallery {
	width: 62rem;
}

html[data-range=xlarge] .embbed-gallery {
	width: 94rem;
}

.embbed-gallery .carouselWrapper {
	width: 100%;
}

.embbed-gallery .thumblist {
	width: 100%;
	height: 59px;
	position: relative;
	overflow: hidden;
}

html[data-range=xsmall] .embbed-gallery .thumblist {
	display: none;
}

html[data-range=small] .embbed-gallery .thumblist {
	display: none;
}

.embbed-gallery .thumblist ul {
	list-style: none;
	height: 59px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #191917;
	transition: left 1s linear;
}

.embbed-gallery .thumblist li {
	display: inline;
	float: left;
	position: relative;
	width: 8.8rem;
	height: 5.9rem;
	overflow: hidden;
	opacity: 1;
}

.embbed-gallery .thumblist li hr {
	position: absolute;
	width: 8.8rem;
	height: 0.2rem;
	margin: 0;
	padding: 0;
	background-color: #ff7212;
	border: 0;
	bottom: 0;
	display: none;
}

.embbed-gallery .thumblist li:hover hr {
	display: block;
}

.embbed-gallery .thumblist .selected {
	opacity: .4;
}

.embbed-gallery .thumblist .selected hr {
	display: block;
}

.embbed-gallery .thumblist .photo-description,
.embbed-gallery .thumblist .photo-copyright {
	display: none;
}

.embbed-gallery .thumblist .nav {
	cursor: pointer;
	opacity: .8;
	position: absolute;
	top: 8px;
	z-index: 100;
}

.embbed-gallery .thumblist .prev {
	left: 15px;
}

.embbed-gallery .thumblist .next {
	right: 15px;
}

.embbed-gallery .thumblist .disable {
	display: none;
}

.embbed-gallery .thumblist .arrow {
	position: absolute;
	top: 0;
	margin-top: 8px;
	overflow: hidden;
}

.embbed-gallery .thumblist .arrow-prev {
	float: left;
	left: 0;
	margin-left: 5px;
}

.embbed-gallery .thumblist .arrow-next {
	float: right;
	right: 0;
	margin-right: 5px;
}

.embbed-gallery .thumblist .disabled {
	display: none;
}

.embbed-gallery .big-photo {
	float: left;
	position: relative;
	width: 30rem;
	height: 20rem;
	background-color: #191917;
}

html[data-range=xsmall] .embbed-gallery .big-photo {
	width: 30rem;
	height: 20rem;
	z-index: 2;
}

html[data-range=small] .embbed-gallery .big-photo {
	width: 30rem;
	height: 20rem;
	z-index: 2;
}

html[data-range=medium] .embbed-gallery .big-photo {
	width: 62rem;
	height: 41.6rem;
}

html[data-range=large] .embbed-gallery .big-photo {
	width: 62rem;
	height: 41.6rem;
}

html[data-range=xlarge] .embbed-gallery .big-photo {
	width: 94rem;
	height: 62.7rem;
}

.embbed-gallery .big-photo .shadowleft {
	position: absolute;
	overflow: hidden;
	width: 110px;
	height: 100%;
	float: left;
	left: 0;
	z-index: 0;
	opacity: .0;
	transition: opacity .5s linear;
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
	background: -o-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
	background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
}

.embbed-gallery .big-photo .shadowright {
	position: absolute;
	overflow: hidden;
	width: 110px;
	height: 100%;
	float: right;
	right: 0;
	z-index: 0;
	opacity: .0;
	transition: opacity .5s linear;
	background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
	background: -o-linear-gradient(right, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
	background: linear-gradient(to left, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
}

.embbed-gallery .big-photo .arrow {
	position: absolute;
	top: 50%;
	margin-top: -50px;
	overflow: hidden;
	z-index: 1;
	opacity: .0;
	transition: opacity .5s linear;
}

html[data-range=xsmall] .embbed-gallery .big-photo .arrow {
	top: 26rem;
	background-size: auto 40px;
	width: 20px;
	height: 40px;
	opacity: 1;
}

html[data-range=small] .embbed-gallery .big-photo .arrow {
	top: 26rem;
	background-size: auto 40px;
	width: 30px;
	height: 40px;
	opacity: 1;
}

.embbed-gallery .big-photo:hover .arrow {
	opacity: 1;
	transition: opacity .3s linear;
}

.embbed-gallery .big-photo:hover .shadowleft {
	opacity: 1;
	transition: opacity .3s linear;
}

.embbed-gallery .big-photo:hover .shadowright {
	opacity: 1;
	transition: opacity .3s linear;
}

html[data-range=xsmall] .embbed-gallery .big-photo:hover .shadowleft {
	opacity: 0;
}

html[data-range=xsmall] .embbed-gallery .big-photo:hover .shadowright {
	opacity: 0;
}

html[data-range=small] .embbed-gallery .big-photo:hover .shadowleft {
	opacity: 0;
}

html[data-range=small] .embbed-gallery .big-photo:hover .shadowright {
	opacity: 0;
}

.embbed-gallery .big-photo .arrow-prev {
	float: left;
	left: 0;
}

html[data-range=xsmall] .embbed-gallery .big-photo .arrow-prev {
	margin-left: 0;
}

html[data-range=small] .embbed-gallery .big-photo .arrow-prev {
	margin-left: 0;
}

.embbed-gallery .big-photo .arrow-next {
	float: right;
	right: 0;
}

html[data-range=xsmall] .embbed-gallery .big-photo .arrow-next {
	margin-right: 100px;
}

html[data-range=small] .embbed-gallery .big-photo .arrow-next {
	margin-right: 10px;
}

.embbed-gallery .big-photo .photo {
	display: inline;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	transition: left 1s linear;
	opacity: 1;
	transition: opacity .5s linear;
	max-height: 100%;
	max-width: 940px;
}

.embbed-gallery .big-photo .photo.vertical {
	width: auto;
	height: 100%;
}

html[data-range=xsmall] .embbed-gallery .big-photo .photo {
	max-width: 30rem;
	max-height: 20rem;
}

html[data-range=small] .embbed-gallery .big-photo .photo {
	max-width: 30rem;
	max-height: 20rem;
}

html[data-range=medium] .embbed-gallery .big-photo .photo {
	max-width: 62rem;
	max-height: 41.6rem;
}

html[data-range=large] .embbed-gallery .big-photo .photo {
	max-width: 62rem;
	max-height: 41.6rem;
}

.embbed-gallery .big-photo .photo.transient {
	opacity: .0;
	transition: opacity .5s linear;
}

.embbed-gallery .big-photo .bigPhotoAux {
	display: none;
}

.embbed-gallery .big-photo .progress {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 32px;
	height: 32px;
	margin: auto;
	overflow: hidden;
	background-color: #191917;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.embbed-gallery .big-photo .progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #191917;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}

.embbed-gallery .big-photo .progress-bar.active {
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	-o-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
}

.embbed-gallery .big-photo .progress-bar-striped {
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
}

.embbed-gallery .big-photo .spinner {
	background-image: url("https://s1.trrsf.com/fe/zaz-morph/_img/loader-black.gif");
}

.embbed-gallery .big-photo-navigation {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 394px;
	overflow: hidden;
	background: none;
	z-index: 300;
}

.embbed-gallery .provider-container img {
	max-width: 67px;
	max-height: 51px;
}

.embbed-gallery .ctn-legend {
	float: left;
	position: relative;
	width: 100%;
	font-family: "OpenSans", sans-serif;
	padding-top: 1rem;
	z-index: 1;
}

html[data-range=xsmall] .embbed-gallery .ctn-legend {
	padding-top: 6.5rem;
}

html[data-range=small] .embbed-gallery .ctn-legend {
	padding-top: 6.5rem;
}

.embbed-gallery .ctn-legend .provider-container {
	float: right;
	width: 67px;
	margin-right: 10px;
	padding-top: 5px;
}

.embbed-gallery .ctn-legend .legend {
	float: left;
	color: #fff;
	padding-bottom: 10px;
	font-size: 14px;
	line-height: 140%;
}

html[data-range=xsmall] .embbed-gallery .ctn-legend .legend {
	width: 100%;
}

html[data-range=small] .embbed-gallery .ctn-legend .legend {
	width: 100%;
}

html[data-range=medium] .embbed-gallery .ctn-legend .legend {
	width: 44rem;
}

html[data-range=large] .embbed-gallery .ctn-legend .legend {
	width: 44rem;
}

html[data-range=xlarge] .embbed-gallery .ctn-legend .legend {
	width: 74rem;
}

.embbed-gallery .ctn-legend .legend a {
	color: #fff;
	margin-left: 5px;
}

.embbed-gallery .ctn-legend .legend a:hover {
	opacity: .8;
}

.embbed-gallery .ctn-legend .image-copyright {
	float: left;
	width: 70%;
	color: #d7d7d7;
	font-size: 12px;
	font-style: italic;
}

.embbed-gallery .ctn-legend .pagination {
	float: right;
	font-size: 3.6rem;
	line-height: 3rem;
	color: #d7d7d7;
}

html[data-range=xsmall] .embbed-gallery .ctn-legend .pagination {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 6rem;
	margin: 13px auto 0;
	font-size: 2.4rem;
	height: 3rem;
}

html[data-range=small] .embbed-gallery .ctn-legend .pagination {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 6.6rem;
	margin: 13px auto 0;
	height: 3rem;
	font-size: 2.4rem;
}

.embbed-gallery .ctn-legend span {
	float: left;
}

.endLayerOpen .embbed-gallery .ctn-legend {
	display: none;
}

.embbed-gallery .socialGroup p {
	color: #fff;
}

.embbed-gallery .pinterest32 {
	background-color: #fff;
	border-radius: 21px 21px 21px 21px;
}

.embbed-gallery .end-layer {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: #191917;
	opacity: .9;
}

.endLayerOpen .embbed-gallery .end-layer {
	display: block;
}

.embbed-gallery .end-layer .contentShareBottom {
	display: block;
	margin: 0 auto;
	width: 500px;
}

html[data-range=large] .embbed-gallery .end-layer {
	height: 47.5rem;
}

.gallery-restart {
	font-family: Ubuntu;
	font-size: 1.1rem;
	font-weight: bold;
	height: 4rem;
	margin: 4rem auto 4rem;
	width: 15rem;
	text-transform: uppercase;
	border: solid #fff;
	border-radius: 20px;
	padding-left: 10px;
	cursor: pointer;
}

.gallery-restart .replay20 {
	position: relative;
	top: 7px;
}

.gallery-restart .restart-image {
	background: url("../_img/ver_novamente.png") no-repeat transparent;
	width: 18rem;
	height: 4rem;
	margin: auto;
	padding-bottom: 12px;
}

.gallery-restart .restart-text {
	display: none;
}

.gallery-restart a:hover span,
.gallery-restart a:focus span {
	background-position: -48px -158px;
}

.gallery-restart a {
	color: #fff;
	text-align: center;
	margin-left: 10px;
}

html[data-range=xsmall] .gallery-restart {
	margin: 2rem auto 2rem;
}

.related-galleries {
	margin: 0 auto 40px;
	width: 520px;
	min-height: 68px;
	opacity: 1;
}

.related-galleries ul {
	height: 185px;
}

.related-galleries li {
	float: left;
	width: 153px;
	margin-right: 20px;
}

html[data-range=xsmall] .related-galleries li {
	width: 8rem;
	height: 14.3rem;
	margin-right: 25px;
}

html[data-range=xsmall] .related-galleries li img {
	width: 100px;
}

html[data-range=xsmall] .related-galleries li a {
	width: 100px;
	font-size: 11px;
}

html[data-range=small] .related-galleries li {
	width: 14rem;
	height: 14.3rem;
}

html[data-range=large] .related-galleries li {
	width: 14.3rem;
	height: 14.3rem;
}

.related-galleries .last {
	margin-right: 0;
}

.related-galleries img {
	margin-bottom: 8px;
	-moz-box-shadow: 2px 2px 2px 0 rgba(25, 25, 23, 0.4);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(25, 25, 23, 0.4);
	box-shadow: 2px 2px 2px 0 rgba(25, 25, 23, 0.4);
	border-radius: 4px;
}

.related-galleries .related-gallery-description {
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	line-height: 140%;
}

.related-galleries a {
	float: left;
	width: 153px;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
}

.related-galleries .thumb {
	margin-bottom: 8px;
}

.related-galleries .thumb em {
	float: left;
	height: 113px;
	margin-bottom: 8px;
}

.related-galleries .thumb:hover {
	border: 0;
	overflow: visible;
}

.related-galleries .thumb:hover em {
	display: block;
	overflow: hidden;
	-moz-box-shadow: 2px 2px 2px 0 rgba(25, 25, 23, 0.4);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(25, 25, 23, 0.4);
	box-shadow: 2px 2px 2px 0 rgba(25, 25, 23, 0.4);
}

.related-galleries .thumb:hover img {
	width: 153px;
	height: 113px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/*# sourceMappingURL=theme-default.css.map */

@media screen and (min-height: 800px) {

.gallery-container {
	position: absolute;
}

}

@-webkit-keyframes progress-bar-stripes {

from {
	background-position: 40px 0;
}

to {
	background-position: 0 0;
}

}

@-o-keyframes progress-bar-stripes {

from {
	background-position: 40px 0;
}

to {
	background-position: 0 0;
}

}

@keyframes progress-bar-stripes {

from {
	background-position: 40px 0;
}

to {
	background-position: 0 0;
}

}

